@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 75%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
.lines {display: none;}
header {margin: 41px 0;}
h1 {float: left;}
nav {float: right;}
nav li {padding-left: 112px;}
nav li:nth-child(1) {padding-left: 0;}

nav a {
  color: #C4C4C4;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
}

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/*banner styling added*/

.banner {
  padding: 95px;
  margin-bottom: 46px;
  background-image: url(../images/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

h2 {    
  width: 52%;
  margin-left: 24%;
  color: #2D2D2D;
  font-size: 45px;
  font-weight: 600;
  text-transform: uppercase;
  text-indent: 21px;
}

h2 + span::first-letter {text-transform: capitalize;}

h2 + span {
  margin: 20px 0;
  display: block;
  color: #80807E;
}

.banner a {
  padding: 20px;
  margin-top: 46px;
  border: 18px solid #E1E5E4;
  border-radius: 50%;
  background-color: #FFF;
}

h3::after {
  width: 27%;
  margin: 10px 0 32px 0;
  border-bottom: 3px solid #313131;
  display: block;
  position: relative;
  left: 40%;
  content: '';
}

h3 {    
  padding-top: 45px;
  color: #313131;
  font-size: 29px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-indent: 77px;
}
/*banner styling end*/
/*feature styling start*/
.feature {text-align: center;}
.feature span::first-letter {text-transform: uppercase;}

.feature span, .team span { 
  width: 63%;
  margin-left: 22%;
  display: block;
  color: #6A6A6A;
  font-size: 18px;
}

.feature ul, .team ul {
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.feature li {
  width: 29%;
  margin-bottom: 60px;
}
/*feature styling end*/
/*team styling start*/
.team {
  background-color: #F3F3F3;
  text-align: center;
}

.team h3::after {
  width: 20%;
  left: 44%;
}

.team ul {padding-bottom: 80px;}

.team li {    
  width: 23%;
  background-color: #fff;
}

.team figure {
  width: 44%;
  margin: 40px 0 0 68px;
  border-radius: 50%;
}

h4 {
  padding-bottom: 8px;
  font-weight: 600;
  font-size: 19px;
  text-transform: uppercase;
}

.team span::first-letter {text-transform: uppercase;}

.team span {
  margin-left: 23%;
  display: block;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.6;
  text-align: center;
  text-indent: 34px;
}

.team a {padding: 16px 17px;}

/*team styling end*/
/*contact styling start*/
.contact {margin-bottom: 70px;}

.contact h3 {
  font-size: 32px;
  text-align: center;
}

.contact h3::after {
  width: 20%;
  left: 44%;
}

.map, form {
  display: inline-block;
  vertical-align: top;
}

.map {
  width: 36%;
  margin-right: 35px;
}

.map span, label {
  padding-bottom: 23px;
  display: block;
  color: #6A6A6A;
  font-size: 18px;
}

form {width: 60%;}
.message {padding-bottom: 23px;}

.email {    
  width: 59%;
  margin-right: 11px;
}

.message input {    
  padding: 28px 66% 181px 30px;
  border: 2px solid #949c96;
  background-color: #F3F3F3;
}

.email input {    
  padding: 24px 40% 19px 30px;
  border: 2px solid #949c96;
  background-color: #F3F3F3;
}

.email, button img {display: inline-block;} 

button img {    
  width: 9%;
  position: absolute;
  left: 23%;
}

button {
  padding: 17px 88px;
  display: inline-block;
  position: relative;
  vertical-align: top;
  background-color: #6894A8;
  color: #fff;
}

button span {
  display: inline-block;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
/*contact styling end */
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 
footer {
  padding: 40px;
  background-color: #4F4F4F;
  color: #575757;
  font-weight: 600;
  text-transform: capitalize;
}

address {float: left;}

footer span {float: right;}



 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {

  .wrapper {width: 88%;}


  /*hamburger styling start*/

  .lines {display: block;}

  nav {
    background:none;
    width: 55px;
    height: 55px;    margin-bottom: 30px;

    float: right;
  }

  .line {display: block;}

  .lines span {
    width: 100%;
    height: 3px;
    margin-bottom: 4px;
    display: block;
    background-color: #000;
    text-indent: -999px;
  } 

  nav ul {
    width: 100%;
    display:none;
    position: absolute;
    top:63px;
    left: 0;
    right: 0;
  }

  nav li {
    width: 100%;
    padding: 16px 0;
    border: 1px solid #fff;
    background-color: #4F4F4F;
  }

  nav a {
    margin-left: 30px;
    color: #fff;
    text-align: center;  
  }

  
  .lines:hover + ul {display: block;}

  /*hamburger styling end*/

  .feature li:nth-child(9) {display: none;}

  .feature li {
    width: 48%;
  }

  .team li {
    width: 48%;
    margin-bottom: 20px;
  }

  .feature span, .team h3 + span, .contact span, h2 + span {font-size: 33px;}
  h2 {margin-left: 0;}
  .map, form, h2 {width: 100%;}
}  



@media only screen and (max-width: 540px) {

.message input {padding-right: 30%}
.email input {margin-bottom: 30px;}
.feature li, .team li {width: 100%;}

footer {
  padding: 80px 0;
  font-size: 20px;
}

footer span, address {float: none;}
}